.container4 {
    border: 2px solid cyan;
    padding: 20px;
}

.bai5-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 50px auto;
    display: block;
}

.mb-5 {
    margin-bottom: 50px;
}

.btn4 {
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
}

.btn-success {
    color: #fff;
    background-color: #198754;
}

.btn-info {
    color: #000;
    background-color: #0dcaf0;
}

.btn-warning {
    color: #000;
    background-color: #ffc107;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
}

.btn-dark {
    color: #fff;
    background-color: #212529;
}

.btn-light {
    color: #fff;
    color: #000;
    background-color: #f8f9fa;
}